@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    margin:0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #FFE3B3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main {
    width: 70%;
    height: auto;
    background-color: white;
    padding: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#title{
    font-family: 'Open Sans', sans-serif;
    color: #26648E;
    font-size: xx-large;
}

.bar{
    fill: #4F8FC0;
}

.bar:hover{
    fill: #53D2DC
}

#tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 150px;
    height: 50px;
    padding: 2px;
    font: 12px;
    background: lightsteelblue;
    box-shadow: 1px 1px 10px;
    border-radius: 2px;
    pointer-events: none; }
  
.overlay {
position: absolute;
background: #fff;
pointer-events: none; }